.card-group {
    width: 10rem;
}
.card {
    height: 20rem;
}

.card-img-top {
    width: 10rem;
}

.alinhar {
    align-self: center;
    align-content: center;
    margin-top: 0.9rem;
    display: inline-flex;
    margin-left: 1rem;
}