h3 {
    text-align: left;
    margin: 3.1rem;
    color: #322c55;
    font-weight: 900;
    font-size: 30pt;
}

.container-card{
    background-color: #FFF;
    padding: 1rem;
}

button {
    width: 10rem;
}

.butao_prev {
    margin-left: 59rem;
    color: #FFF;
    background-color: #26335D;
    border-radius: 0.7rem;
}

.butao_next {
    color: #FFF;
    background-color: #26335D;
    border-radius: 0.7rem;
}